h1{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:35px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
}
.col-lg-4{
		box-sizing:border-box;
	width:30%;
	//height:300px;
	float:left;
	background-color: #A9A9A9;
	border:1px solid black;

	margin:1.66%;
	padding:20px;
	position:relative;
}
.menu1,.menu2,.menu3{
	box-sizing: border-box;
	float:right;
	background-color: #F08080;
	border:1px solid black;
	padding:5px;
	width:100px;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
font-family: Arial, Helvetica, sans-serif;
	font-size:25px;

}
.menu2{
	background-color:#DC143C;
    color:#FFFFFF;
}
.menu3{
	background-color: #F0E68C;
}
@media (min-width:768px) and (max-width:991px){
	.col-md-6{
		box-sizing:border-box;
	width:47%;
	//height:300px;
	float:left;
	background-color: #A9A9A9;
	border:1px solid black;

	margin:1.5%;
	padding:20px;
	position:relative;
}
.col-md-12{
		box-sizing:border-box;
	width:97%;
	//height:300px;
	float:left;
	background-color: #A9A9A9;
	border:1px solid black;

	margin:1.5%;
	padding:20px;
	position:relative;
}

.menu1,.menu2,.menu3{
	box-sizing: border-box;
	float:right;
	background-color: #F08080;
	border:1px solid black;
	padding:5px;
	width:100px;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;

}
.menu2{
	background-color:#DC143C;
    color:#FFFFFF;
}
.menu3{
	background-color: #F0E68C;
}

}
@media (max-width:767px)
{

.col-sm-12{
		box-sizing:border-box;
	width:97%;
	//height:300px;
	float:left;
	background-color: #A9A9A9;
	border:1px solid black;

	margin:1.5%;
	padding:20px;
	position:relative;
}
.menu1,.menu2,.menu3{
	box-sizing: border-box;
	float:right;
	background-color: #F08080;
	border:1px solid black;
	padding:5px;
	width:100px;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;

}
.menu2{
	background-color:#DC143C;
    color:#FFFFFF;
}
.menu3{
	background-color: #F0E68C;
}

}
